header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* --cta--*/

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

/* --soicials-- */
.header__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

/* translate */
.header__social a:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}

.header__social::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}

/* -- me image -- */

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* -- scroll-down -- */

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

.scroll__down::after {
  content: "→";
  font-size: 1.5rem;
}

/* ---- mediaQuery - MEDIUM DEVICES ----- */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ---- mediaQuery - SMALL DEVICES ----- */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__social,
  .scroll__down {
    display: none;
  }
}
